
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
.nav h1 {
    font-family: 'Encode Sans Expanded';
}  
h1 span {
    color: red;
}
.nav img {
    height: 95px;
    max-width: 100%;
    padding: 1rem;
}